// Setting homepage layout variables.
.homepage-banner {
    text-align: center;
    margin: 50px auto;
    max-width: none;
}

.homepage-banner h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 1.2;
    color: #333;
}

.homepage-banner p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 20px;
}
