// Profile image on About page.
.banner-content {
    display: flex;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.profile-image {
    width: 800px;
    height: auto;
}

.image-caption {
    font-size: .9em !important;
    font-style: italic;
    color: #666;
    margin-top: 5px;
    text-align: center;
}

.banner-text {
    max-width: 600px;
    flex-grow: 1;
}


// Adjust for mobile screens, smaller windows
@media (max-width: 768px) {
    .banner-content {
        display: block;
        text-align: center;
    }

    .image-container {
        margin: 0 auto;
    }

    .profile-image {
        width: 100%;
        max-width: 400px;
    }

    .banner-text {
        margin-top: 20px;
        max-width: 100%;
    }
}
