---
layout: default
---

<div class="home">

  {{ content }}

  <section class="homepage-banner">
    <h1>Welcome!</h1>
    <p>
      I'm an AI researcher specializing in the generation, detection, and counter-detection of synthetic media.
      I also do plenty of traditional data science and software engineering.
    </p>
    <p>
      Due to intellectual property and classification constraints, I can't share my professional work here. So, enjoy
      the articles featured below on hobby projects built for fun and for friends!
    </p>
  </section>

  {% capture site_lang %}{{ site.lang | default: "en" }}{% endcapture %}

  <div class="post-grid">
  {% for post in paginator.posts %}
    <div class="post-box">
      <a href="{{ post.url | relative_url }}">
        <div class="post-icon">
          {% if post.icon %}
            <img src="{{ post.icon | relative_url }}" alt="{{ post.title }} icon" />
          {% else %}
            <img src="/assets/icons/default-icon.png" alt="Default icon" />
          {% endif %}
        </div>
        <div class="post-title">{{ post.title }}</div>
      </a>
    </div>
  {% endfor %}
  </div>

  {% include pagination.html %}

</div>